<h1>Address <%= params[:address] %></h1>
<h2>Balance: TODO</h2>
<table>
  <tr>
    <td>Transactions in</td>
    <td></td>
  </tr>
  <tr>
    <td>Transactions out</td>
    <td></td>
  </tr>
  <tr>
    <td>Total received</td>
    <td></td>
  </tr>
  <tr>
    <td>Total sent</td>
    <td></td>
  </tr>
</table>

<table>
  <tr>
    <th>Date/time</th>
    <th>Transaction</th>
    <th>Block</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Balance</th>
  </tr>
  <% 5.times do |transaction| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
